<div class="clearfix"></div>
<div class="clearfix"></div>
<h1 class="page_title">Stuff Written</h1>

<div id="posts_wrapper" class="skinny_wrapper">
  <div class="post">
    <p class="date">Friday April 10th</p>
    <h2><a href="#">The Do List</a></h2>
    <hr>
  </div>
</div>