.parallax{
  background: url('https://lh6.googleusercontent.com/X4KtcQBEns0UawwRfApQHcSXt7zdJFiJ1jGUGIfzKWH_aPe5SEddWwlR07Vm8QvoMrt_nZFNgFWQEAE=w3810-h2136-rw');
  opacity: .5;
}

.parallax-inner{
  padding-top: 17%;
}